/* Colors
 ******************************/
/* Primary
 ***************/
/* Global Variables
 ******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #FCFAF9;
}

img {
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Body Variables
 ******************************/
body {
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 750px;
  background-position: calc(100% + 355px) -300px;
}

header {
  padding: 64px 20px;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  width: 100%;
  max-width: 335px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding-bottom: 64px;
  width: 100%;
  max-width: 335px;
  display: flex;
  justify-content: flex-start;
}
.hero__title {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #191826;
}
.hero__caption {
  margin-top: 40px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #191826;
}

.content {
  margin: 110px 0 625px;
  width: 100%;
  max-width: 375px;
  height: 380px;
  background-color: #191826;
  background-image: url(../images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 312px 468px;
  position: relative;
}
.content__img {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}
.content__card {
  padding: 48px 20px 111px;
  background-color: #FA7453;
  position: absolute;
  bottom: -625px;
}
.content__card-title {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: #191826;
}
.content__card-caption {
  margin-top: 24px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #191826;
}
.content__card-price-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.content__card-price {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #191826;
}
.content__card-month {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #191826;
}
.content__card-btns {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content__card-btn {
  height: 64px;
  border: none;
  border-radius: 12px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content__card-btn--ios {
  background-color: #191826;
  color: #FCFAF9;
}
.content__card-btn--android {
  background-color: #FCFAF9;
  color: #191826;
}

footer {
  padding: 64px 20px 80px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  max-width: 335px;
}

.footer-inner {
  margin-top: 32px;
}
.footer-inner__copy-right {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #191826;
}
.footer-inner__copy-right span {
  margin-top: 1px;
  display: inline-block;
}
.footer-inner__email {
  display: block;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #191826;
}
.footer-inner__nav-links {
  margin-top: 32px;
}
.footer-inner__nav-links ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer-inner__link {
  display: flex;
}
.footer-inner__link img {
  width: 20px;
}

@media (hover: hover) and (pointer: fine) {
  .content__card-btn {
    cursor: pointer;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }
  .content__card-btn path {
    transition: fill 0.2s ease-out;
  }
  .content__card-btn--ios:hover {
    background-color: #66E2DC;
    color: #191826;
  }
  .content__card-btn--ios:hover path {
    fill: #191826;
  }
  .content__card-btn--android:hover {
    background-color: #FFB964;
    color: #191826;
  }

  .footer-inner__link path {
    transition: fill 0.2s ease-out;
  }
  .footer-inner__link:hover path {
    fill: #FA7453;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/bg-pattern-1.svg"), url("../images/bg-main-tablet.png");
    background-size: auto 400px, 1200px;
    background-position: top -40px right -50px, top -155px left -270px;
  }

  header {
    padding: 64px 44px;
  }

  .header-wrapper {
    max-width: 680px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero {
    padding: 64px 0;
    max-width: 680px;
  }
  .hero__title {
    max-inline-size: 416px;
    font-size: 64px;
    line-height: 100%;
  }
  .hero__caption {
    max-inline-size: 504px;
    font-size: 18px;
  }

  .content {
    margin: 200px 0;
    border-radius: 12px;
    max-width: 680px;
    height: 600px;
    background-position: left top;
  }
  .content__img {
    height: 556px;
    top: -114px;
    left: 175px;
  }
  .content__card {
    padding: 48px;
    border-radius: 16px;
    max-width: 356px;
    right: 64px;
    bottom: -114px;
  }
  .content__card-caption {
    font-size: 18px;
  }

  footer {
    padding: 64px 40px 80px;
  }

  .footer-wrapper {
    max-width: 688px;
  }

  .footer-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    background-image: url(../images/bg-pattern-1.svg), url(../images/bg-main-desktop.png);
    background-size: auto 468px, 1890px auto;
    background-position: right top -40px, -200px -300px;
  }

  header {
    padding: 64px 160px;
  }

  .header-wrapper {
    max-width: 1120px;
  }

  .hero {
    max-width: 1120px;
  }
  .hero__title {
    max-inline-size: 928px;
    font-size: 88px;
  }
  .hero__caption {
    max-inline-size: 736px;
    font-size: 20px;
  }

  .content {
    padding: 0 160px 64px;
    max-width: 1120px;
    background-position: left 368px top;
  }
  .content__img {
    height: 642px;
    top: -121px;
    left: 256.5px;
  }
  .content__card {
    padding: 56px;
    max-width: 512px;
    top: 89px;
  }

  footer {
    padding: 64px 160px 80px;
    display: flex;
    justify-content: center;
  }

  .footer-wrapper {
    max-width: 1120px;
    display: flex;
    align-items: flex-start;
    gap: 128px;
  }

  .footer-inner {
    margin-top: 0;
  }
}